*
!.gitignore
!.bash_profile
!.vim
!.vim/vimrc
!.vim/ftplugin
!.vim/ftplugin/*.vim
!.bash_aliases
!.bash_func
!.kuberc
!.tmux.conf.local
!.bash_prompt
!.gitconfig
!Dockerfile_ide
!run_ide.sh
!install_*
